.index{
  background-color: black;
}
h1{
    color: white;
}
.indexmain{
    text-align: center;
    p{
        color: white;
        p{
            color: white;
        }
    }

}
.pdc{
    background-color: black;
    h1{
        justify-content: center;
        text-align: center;
    }
}